.iconb {
    color: #000;
    border-radius: 18px;
    min-width: 36px;
    height: 36px;
    padding: 6px;
    text-align: center;
    outline: none;
    opacity: .7;
}

.iconb:hover {
    opacity: 1;
}

.iconb svg {
    fill: #000;
}

.iconb svg {
    display: inline-block;
    vertical-align: middle;
}

.iconb span {
    display: inline-block;
    vertical-align: middle;
}