.item {
    width: 100%;
    background: #fff;
    border: 1px solid #666;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    flex-flow: row;
}

.item input {
    width: 100%;
}

.item .c1 {
    display: flex;
    flex-flow: column;
    flex-basis: 140px;
}

.item .c3 {
    display: flex;
    flex-basis: 180px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
}

.item .c2 {
    flex-grow: 1;
}

.item .c1,
.item .c2,
.item .c3 {
    padding: 10px;
}

.item .title {
    font-size: 20px;
    font-weight: 500;
}

.item .date {
    margin-bottom: 10px;
}

.item .action,
.item .notes {
    margin-top: 10px;
}

.item .action > span {
    display: inline;
}

.item .actionDesc {
    font-weight: 600;
    color: #900;
}

.item .notes > .title {
    font-weight: 600;
    color: #009;
}

.item.action {
    background: rgb(255,240,240);
}

.item.complete {
    background: rgb(240,255,240);
}

.item.pinned {
    background: rgb(255,255,240);
}

.item.own {
    box-shadow: 0 0 10px 2px rgba(255,0,0,.4);
}

.item.own.complete {
    box-shadow: 0 0 10px 2px rgba(0,255,0,.4);
}

.item.own.pinned {
    box-shadow: 0 0 10px 2px rgba(255,255,0,.4);
}

.item.pinned .iconb.pin {
    background: #ffd700;
}

.item.complete .iconb.complete {
    background: #090;
    color: #fff;
}

.item.complete .iconb.complete svg {
    fill: #fff;
}