.item {
    width: 100%;
    background: #fff;
    border: 1px solid #666;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    flex-flow: row;
}

.item .c1 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.item .c3 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.item .c2 {
    flex-grow: 1;
}

.item .c1,
.item .c2,
.item .c3 {
    padding: 10px;
}

.item .title {
    font-size: 20px;
    font-weight: 500;
}

.item .date {
    margin-bottom: 10px;
}

.item .person {
    margin-bottom: 10px;
}

.item .action,
.item .notes {
    margin-top: 10px;
}

.item .actionDesc {
    font-weight: 600;
    color: #900;
}

.item .notesDesc {
    font-weight: 600;
    color: #009;
}