.refresh {
    position: fixed;
    padding: 10px;
    bottom: 20px;
    right: 20px;
    opacity: .7;
    background: #008;
    color: #fff;
    border-radius: 10px;
}

.refresh.hide {
    padding: 0;
    border-radius: 20px;
}

.refresh .iconb {
    color: #fff;
}

.refresh .iconb svg {
    fill: #fff;
}